@{
   dynamic usuario_atual =Session["usuario_atual"];
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Selecionar Veículo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <style>
            .img-responsive{
                display: block;
                max-width: 100%;
                height: auto;
            }
            
        </style>
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        @if(usuario_atual== null){
        <span>   
            
            Olá, <a href="~/Login">Clique aqui Para Logar</a>
        
        </span>

        }
        else{
            
            <h2>Bem vindo @usuario_atual.nome selecione o transporte </h2>
        <form method="Post" class="form-group"> 

            <div class="form-group"> 
    <div class="col-sm-offset-0 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> TAXI</label>
      </div>
    </div>
  </div>
                             
             <div class="form-group"> 
    <div class="col-sm-offset-0 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> MOTOTAXI</label>
      </div>
    </div>
  </div>
           <img class="img-responsive" src="mapa.PNG" alt="mapa">
            <br>
            <br>
            <br>
            <br>
            <br>
   
             <a href="EfetuarPagamento">Formas de Pagamento</a>
           
            
           
              </form>
        }

   
      </div>

    </body>
</html>
