@{
   dynamic usuario_atual =Session["usuario_atual"];
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @if(usuario_atual== null){
        <span>   
            
            Olá, <a href="~/Login">Clique aqui Para Logar</a>
        
        </span>

        }
        else{
            
            <h2>Bem vindo @usuario_atual.nome selecione o transporte </h2>
        <form >
        <input type="radio" name="mototaxi"value="MotoTaxi">MotoTaxi
            <input type="radio" name="taxi" value="Taxi">Taxi<br>
        </form>
    <div id="mapa" style="height: 500px; width: 700px">
        </div>
		<div class="imagemdefundo">
		<img src="99taxis.png" alt="FundoInicial"  width="42" height="42">
        </div>


            <a href="~/Logout">Sair</a>
        }

   
      
    </body>
</html>
