@{
   dynamic usuario_atual =Session["usuario_atual"];
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Selecionar Veículo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <style>
            .linkpagamento{
                color:#fff;
            }
            .img-responsive{
                display: ruby-text ;
                max-width: 100%;
                height:500px;
            }
            .fundo{
                background-image: url('Chametaxi.jpg');
    background-repeat: round;
    background-size:100%;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
   font-size: x-large;
    top: 0;
            }
            .checkbox{
                text-align: start;
            }
        </style> 
        <div class="fundo">
        
        @if(usuario_atual== null){
       
            <span>      
           
        
         Olá, <a href="~/Login">Clique aqui Para Logar</a>
        
        </span>
       
        }
        else{
            
            <h2>Bem vindo @usuario_atual.nome selecione o transporte </h2>
        <form method="Post" class="form-group"> 
            <div class="col-md-0 col-lg-0 col-md-offset-0 col-lg-offset-0">
            <div class="form-group"> 
    <div class="col-sm-offset-4 col-sm-4">
      <div class="checkbox">
        <label><input type="checkbox"> TAXI</label>
      </div>
    </div>
  </div>
                             
             <div class="form-group"> 
    <div class="col-sm-offset-4 col-sm-4">
      <div class="checkbox">
        <label><input type="checkbox"> MOTOTAXI</label>
      </div>
    </div>
  </div>
            <a class="linkpagamento"href="EfetuarPagamento">Formas de Pagamento</a>
           <img class="img-responsive" src="mapa.PNG" alt="mapa">
                <p>imagen totalmente ilustrativa</p>
            <br>
            <br>
            <br>
            <br>
            <br>
   
             
           
            
           </div>
              </form>
        }

   
      </div>
 
    </body>
</html>
